header {
    background: url(./image/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.header-btn a {
    width: 100px;
    color: aquamarine;
    font-family: 'Fontawesome';
    font-weight: 600;
    display: inline-block;
}

.nav-menu {
    position: fixed;
    width: 100%;
    margin: auto;
    z-index: 9999999;
    background: #f6ecd0;
}

.hero {
    margin-top: 100px;
}

.hero h3 {
    color: #eb699e;
}

service section start */ .service-section h5 {
    color: #eb699e;
    margin-top: 25px;
}

.service-item h4 {
    font-family: 'Raleway', sans-serif;
}


/* service section end


/* banner section start */

.banner-section {
    background: url(./image/disco.jpg) no-repeat center;
    background-size: cover;
    padding: 150px 0px;
}


/* banner section end */


/* login form section start */

.contact-form input {
    border-radius: 20px;
}

.contact-form input::placeholder {
    color: #fff;
}

.contact-form textarea::placeholder {
    color: #fff;
}

.contact-form textarea {
    border-radius: 20px;
}

.form-btn button {
    border-radius: 20px !important;
}

.test-mail input {
    border-radius: 25px;
}

.test-mail button {
    position: relative;
    top: -44px;
    right: -288px;
    background: #efb68d;
    padding: 8px 36px;
    border: none;
    border-radius: 25px;
    transition: .5s;
}

.test-mail button:hover {
    background: #ed8797;
}


/* login form section end */
